In [4]:
import pandas as pd

## Pandas Merge 
- connects rows in DataFrames based on one or more keys.  
- Similar to SQL join operations

In [24]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 
                    'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'], 
                    'data2': range(3)})
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

In [25]:
df2

   data2 key
0      0   a
1      1   b
2      2   d

In [26]:
pd.merge(df1, df2)

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [27]:
pd.merge(df1, df2, on = 'key')

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

## Pandas Concat
- glues or stacks together object along an axis

In [1]:
## combine_first