In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.Series(np.random.randn(10),
                 index = [list('aaabbbccdd'), [1,2,3,1,2,3,1,2,2,3]]
                 
                )

data

a  1   -0.189857
   2   -0.566788
   3    0.924183
b  1    0.179960
   2   -0.904489
   3    1.073702
c  1   -1.638481
   2    0.396668
d  2    1.136003
   3    0.777192
dtype: float64

In [5]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 1, 2]])

In [6]:
data['b']

1    0.179960
2   -0.904489
3    1.073702
dtype: float64

In [7]:
data['b':'c']

b  1    0.179960
   2   -0.904489
   3    1.073702
c  1   -1.638481
   2    0.396668
dtype: float64

In [8]:
data.ix[['b', 'd']]

b  1    0.179960
   2   -0.904489
   3    1.073702
d  2    1.136003
   3    0.777192
dtype: float64

In [9]:
# selection is even possible on the inner level
data[:,2]

a   -0.566788
b   -0.904489
c    0.396668
d    1.136003
dtype: float64

In [10]:
data.unstack()

          1         2         3
a -0.189857 -0.566788  0.924183
b  0.179960 -0.904489  1.073702
c -1.638481  0.396668       NaN
d       NaN  1.136003  0.777192

In [11]:
data.unstack().stack()

a  1   -0.189857
   2   -0.566788
   3    0.924183
b  1    0.179960
   2   -0.904489
   3    1.073702
c  1   -1.638481
   2    0.396668
d  2    1.136003
   3    0.777192
dtype: float64

In [16]:
ser = pd.Series(np.arange(3.))
ser2 = pd.Series(np.arange(3.), index = ['a', 'b', 'c'])
ser2[-1]

2.0

In [17]:
ser.ix[:1]

0    0.0
1    1.0
dtype: float64