In [23]:
from pandas import Series, DataFrame
import pandas as pd

## Pandas series objects

In [12]:
obj = Series(range(3), index = ['a', 'b', 'c'])
obj

a    0
b    1
c    2
dtype: int64

In [11]:
obj.values

array([0, 1, 2])

In [14]:
obj['a']

0

In [15]:
'''boolean filtering similar to numpy'''
obj[obj > 1]

c    2
dtype: int64

In [18]:
('b' in obj), ('e' in obj)

(True, False)

In [22]:
sdata = {'Ohio': 3500, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

obj3 = Series(sdata)
obj3

Ohio       3500
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [26]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index  = states)
obj4

California        NaN
Ohio           3500.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [28]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [29]:
obj4.notnull()

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [30]:
obj4.name = 'population'

In [31]:
obj4.index.name = 'state'

In [32]:
obj4

state
California        NaN
Ohio           3500.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

## Pandas DataFrame

In [43]:
data = { 'state': states,
        'year': [x for x in range(1900,1940, 10)],
        'pop': [1.5, 1.7, 3.6, 2.4,]
}

In [44]:
frame = pd.DataFrame(data)
frame

   pop       state  year
0  1.5  California  1900
1  1.7        Ohio  1910
2  3.6      Oregon  1920
3  2.4       Texas  1930

In [50]:
frame = pd.DataFrame(data, 
                     columns = ['year', 'state', 'pop'],
                     index = [ i for i in range(4)])
frame

   year       state  pop
0  1900  California  1.5
1  1910        Ohio  1.7
2  1920      Oregon  3.6
3  1930       Texas  2.4

In [51]:
frame['state'], frame.state

(0    California
 1          Ohio
 2        Oregon
 3         Texas
 Name: state, dtype: object, 0    California
 1          Ohio
 2        Oregon
 3         Texas
 Name: state, dtype: object)

In [53]:
frame.ix[3] #frame rows can be indexed by 'ix' method

year      1930
state    Texas
pop        2.4
Name: 3, dtype: object

In [55]:
frame['debt'] = [16, 17, 18, 19]
frame

   year       state  pop  debt
0  1900  California  1.5    16
1  1910        Ohio  1.7    17
2  1920      Oregon  3.6    18
3  1930       Texas  2.4    19

In [58]:
frame.name = 'state info'
frame.index.name = 'butt stuff'
frame

            year       state  pop  debt
butt stuff
0           1900  California  1.5    16
1           1910        Ohio  1.7    17
2           1920      Oregon  3.6    18
3           1930       Texas  2.4    19