## Panel
- analog to a three dimensional data frame
- alternative to hierarchical indexing

In [7]:
import pandas as pd
from pandas import Panel
import pandas_datareader.data as web
import datetime
import requests_cache

In [14]:
expire_after = datetime.timedelta(days=3)

session = requests_cache.CachedSession(cache_name='cache', backend='sqlite', expire_after=expire_after)

start = datetime.datetime(2010, 1, 1)

end = datetime.datetime(2013, 1, 27)

pdata = pd.Panel(dict((stk, web.DataReader(stk, 'yahoo', start, end, session = session))
                     for stk in ['AAPL', 'GOOG', 'MSFT']))

In [15]:
pdata

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 771 (major_axis) x 6 (minor_axis)
Items axis: AAPL to MSFT
Major_axis axis: 2010-01-04 00:00:00 to 2013-01-25 00:00:00
Minor_axis axis: Open to Volume

In [17]:
pdata = pdata.swapaxes('items', 'minor')

In [21]:
pdata['Adj Close'][0:5]

                 AAPL        GOOG       MSFT
Date
2010-01-04  27.406532  311.349976  25.148876
2010-01-05  27.453915  309.978882  25.157001
2010-01-06  27.017223  302.164703  25.002611
2010-01-07  26.967278  295.130463  24.742592
2010-01-08  27.146566  299.064880  24.913233

In [20]:
pdata.ix[:, '6/1/2012', :]

            Open        High         Low       Close   Adj Close       Volume
AAPL   81.308571   81.807144   80.074287   80.141426   71.841476  130246900.0
GOOG  284.047546  284.474762  282.338654  283.645172  283.645172    6155600.0
MSFT   28.760000   28.959999   28.440001   28.450001   24.545383   56634300.0

In [22]:
stacked = pdata.ix[:, '5/30/2012':, :].to_frame()

In [24]:
stacked[0:10]

                        Open        High         Low       Close   Adj Close  \
Date       minor
2012-05-30 AAPL    81.314285   82.855713   80.937141   82.738571   74.169617
           GOOG   292.179657  294.037567  289.879608  292.214417  292.214417
           MSFT    29.350000   29.480000   29.120001   29.340000   25.313240
2012-05-31 AAPL    82.962860   83.071426   81.637146   82.532860   73.985207
           GOOG   292.457855  293.093719  287.629242  288.553253  288.553253
           MSFT    29.299999   29.420000   28.940001   29.190001   25.183826
2012-06-01 AAPL    81.308571   81.807144   80.074287   80.141426   71.841476
           GOOG   284.047546  284.474762  282.338654  283.645172  283.645172
           MSFT    28.760000   28.959999   28.440001   28.450001   24.545383
2012-06-04 AAPL    80.214287   81.071426   78.357140   80.612854   72.264061

                       Volume
Date       minor
2012-05-30 AAPL   132357400.0
           GOOG     3838100.0
           MSFT    41585500.0
2012-05-31 AAPL   122918600.0
           GOOG     5975200.0
           MSFT    39134000.0
2012-06-01 AAPL   130246900.0
           GOOG     6155600.0
           MSFT    56634300.0
2012-06-04 AAPL   139248900.0

In [25]:
stacked.to_panel()

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 165 (major_axis) x 3 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2012-05-30 00:00:00 to 2013-01-25 00:00:00
Minor_axis axis: AAPL to MSFT